<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-boxMeal-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">房间：</label>
				<div class="col-sm-8">
					<select id="boxId" name="boxId" class="form-control"
							th:object="${roomList}">
						<option th:each="room : ${roomList}" th:text="${room.name}" th:value="${room.id}"></option>
					</select>
				</div>
			</div>
			<!--<div class="form-group">
				<label class="col-sm-3 control-label">餐次：</label>
				<div class="col-sm-8">
					<select id="typeCode" name="typeCode" class="form-control"
							th:with="type=${@dict.getType('meal_type')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>-->
			<div class="form-group">	
				<label class="col-sm-3 control-label">餐次名：</label>
				<div class="col-sm-8">
					<input id="typeName" name="typeName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开始时间：</label>
				<div class="col-sm-8">
					<input id="startTime" name="startTime" placeholder="HH:mm:ss" class="form-control just-time-input"
						   data-type="time">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">结束时间：</label>
				<div class="col-sm-8">
					<input id="endTime" name="endTime" placeholder="HH:mm:ss" class="form-control just-time-input"
						   data-type="time">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "admin/boxMeal"
		$("#form-boxMeal-add").validate({
			rules:{
				typeName:{
					required:true,
				},
				startTime:{
					required:true,
				},
				endTime:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-boxMeal-add').serialize());
	        }
	    }


		layui.use('laydate', function () {
			var laydate = layui.laydate;
			//时间选择器
			//同时绑定多个
			lay('.just-time-input').each(function () {
				laydate.render({
					elem: this,
					type: 'time'
				});
			});
		});

	</script>
</body>
</html>
