<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li style="margin-left: 5px; margin-right: 55px">
                            罪犯姓名：<input type="text" name="criminalName" id="criminalName"/>
                        </li>
                        <!--<li style="margin-left: 5px;margin-right: 55px">
                            检查官证件号：<input type="text" name="prosecutorId" id="prosecutorId" />
                        </li>-->
                        <li style="margin-left: 5px;margin-right: 55px">
                            检察官：<input type="text" name="prosecutorName" id="prosecutorName"
                                       onclick="selectUserTree()"/>
                        </li>
                        <li style="margin-left: 5px;margin-right: 55px">
                            犯罪类型：
                            <select id="criminalType" name="criminalType"
                                    th:with="type=${@dict.getType('criminal_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li style="margin-left: 5px;margin-right: 55px">
                            审核状态：<select id="status" name="status"
                                         th:with="type=${@dict.getType('event_audit_status')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <!--<li class="sub-hidden" style="display: none; margin-left: 5px;margin-right: 55px">
                            <label>开始时间：</label>
                            <input name="startTime" class="just-time-input" data-type="datetime">
                        </li>
                        <li class="sub-hidden" style="display: none;margin-right: 60px">
                            <label>结束时间：</label>
                            <input  name="endTime" class="just-time-input" data-type="datetime">
                        </li>
                        <li class="sub-hidden" style="display: none;margin-left: 20px; margin-right: 39px">
                            <label>出生日期： </label>
                            <input type="text" class="time-input" id="criminalBirth" placeholder="出生日期" name="criminalBirth"/>
                        </li>-->
                        <li class="sub-hidden" style="display: none;margin-left: 5px; margin-right: 55px">
                            案件阶段：<select id="stage" name="stage"
                                         th:with="type=${@dict.getType('case_stage')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <br><br>
                        <li class="sub-hidden" style="display: none;margin-left: 7px; margin-right: 55px">
                            认罪状态：<select id="criminalAdmit" name="criminalAdmit"
                                         th:with="type=${@dict.getType('sys_yes_no')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li class="sub-hidden" style="display: none;margin-left: 5px; margin-right: 55px">
                            援助状态：<select id="needLegalAid" name="needLegalAid"  th:with="type=${@dict.getType('sys_yes_no')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                            <a class="btn btn-primary btn-rounded btn-sm sub-unfold" onclick="unfoldHide(this)"><i
                                    class="fa fa-search"></i>&nbsp;展开</a>
                            <a class="btn btn-primary btn-rounded btn-sm sub-hidden" onclick="packUp(this)" style="display: none"><i
                                    class="fa fa-search"></i>&nbsp;收起</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.table.exportExcel()"
                               shiro:hasPermission="admin:arraignAppointment:export">
                                <i class="fa fa-download"></i> 按条件导出
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="exportTotal()"
               shiro:hasPermission="admin:arraignAppointment:export">
                <i class="fa fa-download"></i> 导出列表
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var auditFlag = [[${@permission.hasPermi('admin:arraignAppointment:audit')}]];
    var prefix = ctx + "admin/arraignAppointment";
    var event_audit_status = [[${@dict.getType('event_audit_status')}]];
    var sys_yes_no = [[${@dict.getType('sys_yes_no')}]];
    var criminal_type = [[${@dict.getType('criminal_type')}]];
    var case_stage = [[${@dict.getType('case_stage')}]];


    function exportTotal(){
        var deptIds = $("#deptIds").val();
        var prosecutorId = $("#prosecutorId").val();
        var criminalName = $("#criminalName").val();
        var prosecutorName = $("#prosecutorName").val();
        var criminalType = $("#criminalType").val();
        var status = $("#status").val();
        var stage = $("#stage").val();
        var criminalAdmit = $("#criminalAdmit").val();
        var needLegalAid = $("#needLegalAid").val();
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        var criminalBirth = $("#criminalBirth").val();
        url = prefix + "/exportTotal?prosecutorId="+prosecutorId+"&prosecutorName="+prosecutorName+"&startTime="+startTime+
            "&endTime="+endTime+"&criminalBirth"+criminalBirth+"&criminalType="+criminalType+"&status="+status+"&stage="
            +stage+"&criminalAdmit="+criminalAdmit+"&needLegalAid="+needLegalAid+"&criminalName="+criminalName;
        //url = prefix + "/statisticalReports"
        window.location.href =url;
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            updateUrl: prefix + "/detail/{id}",
            auditUrl: prefix + "/doAudit/{id}/{status}/{reason}",
            exportUrl: prefix + "/export",
            modalName: "提审预约",
            search: false,
            showExport: false,
            columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'roomName',
                    title: '房间',
                    visible: true
                },
                {
                    title: '提审时间',
                    formatter: function (value, row, index) {
                        return row.startTime.slice(0, 4) + "年" + row.startTime.slice(5, 7) + "月" + row.startTime.slice(8, 10) + "日 "
                            + row.startTime.slice(11, 16) + "-" + row.endTime.slice(11, 16);
                    }
                },
                {
                    field: 'criminalName',
                    title: '罪犯姓名',
                    sortable: true
                },
                {
                    field: 'criminalType',
                    title: '犯罪类型',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(criminal_type, value);
                    }
                },
                {
                    field: 'stage',
                    title: '阶段',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(case_stage, value);
                    }
                },
                {
                    field: 'criminalAdmit',
                    title: '认罪认罚',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(sys_yes_no, value);
                    }
                },
                {
                    field: 'needLegalAid',
                    title: '是否需要法律援助',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(sys_yes_no, value);
                    }
                },
                {
                    field: 'remark',
                    title: '是否加号',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if("plus" == value){
                            return "<span class=\"badge badge-primary\">是</span>";
                        }else{
                            return "<span class=\"badge badge-danger\">否</span>";
                        }
                    }
                },
                {
                    field: 'prosecutorName',
                    title: '检察官姓名',
                    sortable: true
                },
                {
                    field: 'status',
                    title: '审核状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(event_audit_status, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-default btn-xs ' + '" href="#" onclick="detail(\'' + row.id + '\')"><i class="fa fa-eye"></i>详情</a>  ');

                        /*if (row.status === '0') {
                            actions.push('<a class="btn btn-success btn-xs ' + auditFlag + '" href="#" onclick="audit(\'' + row.id + '\', 1)"><i class="fa fa-edit"></i>通过</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + auditFlag + '" href="#" onclick="audit(\'' + row.id + '\', 2)"><i class="fa fa-edit"></i>驳回</a> ');
                        }*/
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
        $(".columns.columns-right.btn-group.pull-right").hide();
    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //时间选择器
        //同时绑定多个
        lay('.just-time-input').each(function () {
            laydate.render({
                elem: this
                , type: 'datetime'
            });
        });
    });

    function unfoldHide(self) {
        $('.sub-hidden').show();
        $(self).hide();
    }

    function packUp(self) {
        $('.sub-unfold').show();
        $('.sub-hidden').hide();
        $(self).hide();
    }

    function selectUserTree() {
        var options = {
            title: '选择用户',
            width: "380",
            url: ctx + "system/user/selectUserTree?userIds=",
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            //$("#promoter").val(body.find('#treeId').val());
            $("#prosecutorName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }

    // 修改信息
    function audit(id, status) {

        var statusMsg = status == "1" ? "通过" : "驳回";

        prompt(status, "填写" + statusMsg + "该条" + $.table._option.modalName + "的原因", function (reason) {
            var urlReason = $.common.isEmpty(reason) ? 'NoReasonFlag' : reason;
            var url = $.common.isEmpty(id) ? $.table._option.auditUrl : $.table._option.auditUrl.replace("{id}", id).replace("{status}", status).replace("{reason}", urlReason);
            $.operate.submit(url, "post", "json");
        });
    }

    // 确认窗体
    function prompt(status, content, callBack) {

        const necessary = status === 2 ? "（必填）" : "（非必填）";

        layer.prompt({
            formType: 2,
            placeholder: "请输入原因",
            title: content + necessary,
            btn: ['确认', '取消'],
            btnclass: ['btn btn-primary', 'btn btn-danger'],
            area: ['400px','200px'],
            yes: function (index, value) {
                const reason = value.find(".layui-layer-input").val();
                if (status === 2 && (typeof reason === "undefined" || reason === "")){
                    $.modal.alertWarning("请填写理由！");
                    return;
                }
                layer.close(index);
                callBack(value.find(".layui-layer-input").val());
                location.reload();
            }
        });
    }

    function detail(id) {
        var url = "/404.html";
        if ($.common.isNotEmpty(id)) {
            url = $.table._option.updateUrl.replace("{id}", id);
        } else {
            var id = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            if (id.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            url = $.table._option.updateUrl.replace("{id}", id);
        }
        $.modal.open("预约详情", url);
    }

</script>
</body>
</html>