<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2023-2024
  ~ All rights reserved, Designed By www.szmkst.com
  ~ 注意：
  ~ 本软件由深圳市迈科思腾科技有限公司开发研制，未经授权许可不得使用
  ~ 一经发现盗用、分享等行为，将追究法律责任，后果自负
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkst.umap.app.mall.mapper.SeckillHallInfoMapper">

    <resultMap id="seckillHallInfoMap" type="com.mkst.umap.app.mall.common.entity.SeckillHallInfo">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createId" column="create_id"/>
        <result property="sort" column="sort"/>
        <result property="seckillHallId" column="seckill_hall_id"/>
        <result property="seckillInfoId" column="seckill_info_id"/>
    </resultMap>

    <sql id="seckillHallInfoSql">
        seckill_hall_info.`id`,        seckill_hall_info.`tenant_id`,        seckill_hall_info.`del_flag`,        seckill_hall_info.`create_time`,        seckill_hall_info.`update_time`,        seckill_hall_info.`create_id`,        seckill_hall_info.`sort`,        seckill_hall_info.`seckill_hall_id`,        seckill_hall_info.`seckill_info_id`    </sql>
</mapper>
