<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkst.umap.app.admin.mapper.ArraignRoomLogMapper">
    
    <resultMap type="ArraignRoomLog" id="ArraignRoomLogResult">
        <result property="id"    column="id"    />
        <result property="roomId"    column="room_id"    />
        <result property="name"    column="name"    />
        <result property="startTime"    column="start_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />

        <result property="roomName"    column="room_name"    />
    </resultMap>
	
	<sql id="selectArraignRoomLogVo">
        select l.id, l.room_id, l.name, l.start_time, l.create_by, l.create_time, l.update_by, l.update_time, l.remark, l.del_flag, r.name as room_name
        from umap_arraign_room_log l
        left join umap_arraign_room r on l.room_id = r.id
    </sql>
	
    <select id="selectArraignRoomLogList" parameterType="ArraignRoomLog" resultMap="ArraignRoomLogResult">
        <include refid="selectArraignRoomLogVo"/>
        <where>  
            <if test="id != null "> and l.id = #{id}</if>
             <if test="roomId != null  and roomId != '' "> and l.room_id = #{roomId}</if>
             <if test="name != null  and name != '' "> and l.name like CONCAT('%',#{name},'%') </if>
             <if test="startTime != null "> and l.start_time &gt;= #{startTime}</if>
             <if test="createBy != null  and createBy != '' "> and l.create_by = #{createBy}</if>
             <if test="createTime != null "> and l.create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and l.update_by = #{updateBy}</if>
             <if test="updateTime != null "> and l.update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and l.remark = #{remark}</if>
             <if test="delFlag != null  and delFlag != '' "> and l.del_flag = #{delFlag}</if>
         </where>
    </select>
    
    <select id="selectArraignRoomLogById" parameterType="Long" resultMap="ArraignRoomLogResult">
        <include refid="selectArraignRoomLogVo"/>
        where l.id = #{id}
    </select>
        
    <insert id="insertArraignRoomLog" parameterType="ArraignRoomLog"  useGeneratedKeys="true" keyProperty="id">
        insert into umap_arraign_room_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="roomId != null  and roomId != ''  ">room_id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="startTime != null  ">start_time,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="roomId != null  and roomId != ''  ">#{roomId},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="startTime != null  ">#{startTime},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
         </trim>
    </insert>
	 
    <update id="updateArraignRoomLog" parameterType="ArraignRoomLog">
        update umap_arraign_room_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="roomId != null  and roomId != ''  ">room_id = #{roomId},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="startTime != null  ">start_time = #{startTime},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteArraignRoomLogById" parameterType="Long">
        delete from umap_arraign_room_log where id = #{id}
    </delete>
	
    <delete id="deleteArraignRoomLogByIds" parameterType="String">
        delete from umap_arraign_room_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>