<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkst.umap.app.admin.mapper.MeetingAttendeeMapper">

    <resultMap type="com.mkst.umap.app.admin.domain.MeetingAttendee" id="MeetingAttendeeResult">
        <result property="id" column="id"/>
        <result property="meetingId" column="meeting_id"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectMeetingAttendeeVo">
        select id, meeting_id, user_id, create_by, create_time, update_by, update_time, remark, del_flag from umap_meeting_attendee
    </sql>

    <select id="selectMeetingAttendeeList" parameterType="com.mkst.umap.app.admin.domain.MeetingAttendee"
            resultMap="MeetingAttendeeResult">
        <include refid="selectMeetingAttendeeVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="meetingId != null ">and meeting_id = #{meetingId}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="createBy != null  and createBy != '' ">and create_by = #{createBy}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' ">and update_by = #{updateBy}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>
            <if test="remark != null  and remark != '' ">and remark = #{remark}</if>
            <if test="delFlag != null  and delFlag != '' ">and del_flag = #{delFlag}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectMeetingAttendeeById" parameterType="Long" resultMap="MeetingAttendeeResult">
        <include refid="selectMeetingAttendeeVo"/>
        where id = #{id}
    </select>

    <insert id="insertMeetingAttendee" parameterType="com.mkst.umap.app.admin.domain.MeetingAttendee">
        insert into umap_meeting_attendee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="meetingId != null  ">meeting_id,</if>
            <if test="userId != null  ">user_id,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="meetingId != null  ">#{meetingId},</if>
            <if test="userId != null  ">#{userId},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateMeetingAttendee" parameterType="com.mkst.umap.app.admin.domain.MeetingAttendee">
        update umap_meeting_attendee
        <trim prefix="SET" suffixOverrides=",">
            <if test="meetingId != null  ">meeting_id = #{meetingId},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMeetingAttendeeById" parameterType="Long">
        delete from umap_meeting_attendee where id = #{id}
    </delete>

    <delete id="deleteMeetingAttendeeByIds" parameterType="String">
        delete from umap_meeting_attendee where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByMeetingId">
        delete from umap_meeting_attendee where meeting_id = #{meetingId}
    </delete>

</mapper>