<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkst.umap.app.admin.mapper.CaseStatuteMapper">
    
    <resultMap type="CaseStatute" id="CaseStatuteResult">
        <result property="id"    column="id"    />
        <result property="caseTypeCode"    column="case_type_code"    />
        <result property="name"    column="name"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="disc"    column="disc"    />
        <result property="lable"    column="lable"    />
    </resultMap>
	
	<sql id="selectCaseStatuteVo">
        select id, case_type_code, name, content, create_by, create_time, update_by, update_time, disc, lable from umap_case_statute
    </sql>
	
    <select id="selectCaseStatuteList" parameterType="CaseStatute" resultMap="CaseStatuteResult">
        <include refid="selectCaseStatuteVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="caseTypeCode != null  and caseTypeCode != '' "> and case_type_code = #{caseTypeCode}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="createBy != null "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="disc != null  and disc != '' "> and disc = #{disc}</if>
             <if test="lable != null  and lable != '' "> and lable = #{lable}</if>
         </where>
    </select>
    
    <select id="selectCaseStatuteById" parameterType="Integer" resultMap="CaseStatuteResult">
        <include refid="selectCaseStatuteVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCaseStatute" parameterType="CaseStatute">
        insert into umap_case_statute
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="caseTypeCode != null  and caseTypeCode != ''  ">case_type_code,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="createBy != null  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="disc != null  and disc != ''  ">disc,</if>
			<if test="lable != null  and lable != ''  ">lable,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="caseTypeCode != null  and caseTypeCode != ''  ">#{caseTypeCode},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="createBy != null  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="disc != null  and disc != ''  ">#{disc},</if>
			<if test="lable != null  and lable != ''  ">#{lable},</if>
         </trim>
    </insert>
	 
    <update id="updateCaseStatute" parameterType="CaseStatute">
        update umap_case_statute
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseTypeCode != null  and caseTypeCode != ''  ">case_type_code = #{caseTypeCode},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="createBy != null  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="disc != null  and disc != ''  ">disc = #{disc},</if>
            <if test="lable != null  and lable != ''  ">lable = #{lable},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCaseStatuteById" parameterType="Integer">
        delete from umap_case_statute where id = #{id}
    </delete>
	
    <delete id="deleteCaseStatuteByIds" parameterType="String">
        delete from umap_case_statute where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>