<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkst.umap.app.admin.mapper.PetitionMapper">
    
    <resultMap type="com.mkst.umap.app.admin.domain.Petition" id="PetitionResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="hasReplied"    column="has_replied"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="anonymous"    column="anonymous"    />
    </resultMap>
	
	<sql id="selectPetitionVo">
        SELECT
            id,
            type,
            title,
            content,
            has_replied,
            create_by,
            create_time,
            update_by,
            update_time,
            remark,
            del_flag,
            anonymous
        FROM
            umap_petition
    </sql>
	
    <select id="selectPetitionList" parameterType="com.mkst.umap.app.admin.domain.Petition" resultMap="PetitionResult">
        <include refid="selectPetitionVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="type != null  and type != '' "> and type = #{type}</if>
             <if test="title != null  and title != '' "> and title like concat('%',#{title},'%') </if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="hasReplied != null  and hasReplied != '' "> and has_replied = #{hasReplied}</if>
             <if test="createBy != null "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and TO_DAYS(create_time) = TO_DAYS(#{createTime})</if>
             <if test="updateBy != null "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
            <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
            <if test="anonymous != null  and anonymous != '' "> and anonymous = #{anonymous}</if>
         </where>
         order by create_time desc
    </select>
    
    <select id="selectPetitionById" parameterType="Long" resultMap="PetitionResult">
        <include refid="selectPetitionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPetition" parameterType="com.mkst.umap.app.admin.domain.Petition"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into umap_petition
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="type != null  and type != ''  ">type,</if>
			<if test="title != null  and title != ''  ">title,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="hasReplied != null  and hasReplied != ''  ">has_replied,</if>
			<if test="createBy != null  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="anonymous != null  and anonymous != ''  ">anonymous,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="type != null  and type != ''  ">#{type},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="hasReplied != null  and hasReplied != ''  ">#{hasReplied},</if>
			<if test="createBy != null  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="anonymous != null  and anonymous != ''  ">#{anonymous},</if>
         </trim>
    </insert>
	 
    <update id="updatePetition" parameterType="com.mkst.umap.app.admin.domain.Petition">
        update umap_petition
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null  and type != ''  ">type = #{type},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="hasReplied != null  and hasReplied != ''  ">has_replied = #{hasReplied},</if>
            <if test="createBy != null  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="anonymous != null  and anonymous != ''  ">anonymous = #{anonymous},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deletePetitionById" parameterType="Long">
        delete from umap_petition where id = #{id}
    </delete>
	
    <delete id="deletePetitionByIds" parameterType="String">
        delete from umap_petition where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getUserName" resultType="java.lang.String">
        select su.user_name
        from sys_user su
        where su.user_id = #{userId}
    </select>

</mapper>