<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-imNoticeUser-edit" th:object="${imNoticeUser}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">消息类型：</label>
				<div class="col-sm-8">
					<input id="msgTypeKey" name="msgTypeKey" th:field="*{msgTypeKey}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">用户绑定：</label>
				<div class="col-sm-8" id="receiveDiv">
					<input id="userId" name="userId" type="hidden" required="true" th:field="*{userId}" />
					<input class="form-control" type="text" onclick="selectReceiveTree()" id="userName" name="userNames" readonly="true"  th:field="*{username}">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否置顶：</label>
				<div class="col-sm-8">
					<div class="radio check-box">
						<label>
							<input type="radio" checked="" value="1" name="isTop" th:field="*{isTop}" >是</label>
					</div>
					<div class="radio check-box">
						<label>
							<input type="radio" value="0" name="isTop" th:field="*{isTop}" >否</label>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">置顶排序：</label>
				<div class="col-sm-8">
					<input id="topOrder" name="topOrder" th:field="*{topOrder}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">头像：</label>
				<div class="col-sm-8" onclick="editLogo()">
					<input type="hidden" name="avatar" id="logoFile" th:field="*{avatar}" >
					<img alt="image" id="logo" class=" m-t-xs img-responsive" style="width: 50px;cursor: pointer;" th:src="(${imNoticeUser.avatar} == '') ? @{/img/appLogo.png} : @{/} + ${imNoticeUser.avatar}">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "admin/imNoticeUser"
		var appPrefix = ctx + "appmanager/appManager";

		$("#form-imNoticeUser-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-imNoticeUser-edit').serialize());
	        }
	    }

		/*修改logo*/
		function editLogo() {
			var url = appPrefix + '/logo';
			$.modal.open("修改头像", url,800,600);
		}

		/*选择接受者*/
		function selectReceiveTree() {
			url = 'system/user/selectUserTree?userIds=';
			var url = ctx + url +$("#userId").val();
			var options = {
				title: '选择绑定用户',
				width: "380",
				url: url,
				callBack:doSubmit
			};
			$.modal.openOptions(options);
		}

		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowParents(tree)) {
				var body = layer.getChildFrame('body', index);
				var receiveCode = body.find('#treeId').val();
				var receiveName = body.find('#treeName').val();
				$("#userId").val(receiveCode);
				$("#userName").val(receiveName);
				layer.close(index);
			}
		}
	</script>
</body>
</html>
