<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title th:text="${name}">管理后台</title>
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{favicon.ico}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.contextMenu.min.css}" rel="stylesheet"/>
    <link th:href="@{/ajax/libs/fontawesome-free/css/all.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/ajax/libs/AdminLTE3/dist/css/adminlte.min.css}" rel="stylesheet"/>
    <link th:href="@{/ajax/libs/AdminLTE3/dist/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/systemplus/css/ry-ui.css?v=3.1.0}" rel="stylesheet"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div id="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-dark navbar-lightblue">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge" id="msgCount">0</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">您有 <strong id="totalCount">0</strong> 条未读消息</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer menuItem" th:href="@{/basic/msg/notifications}">查看全部消息</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" id="fullScreen" >
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="javascript:void(0)" class="nav-link user-panel" data-toggle="dropdown" >
                    <img th:src="(${user.avatar} == '') ? @{/img/profile.jpg} : @{${user.avatar}}" class="img-circle user-image">
                    <span class="hidden-xs">[[${#strings.defaultString(user.userName, '-')}]]</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a th:href="@{/system/user/profile}" class="menuItem dropdown-item">
                        <i class="fa fa-user"></i> 个人中心
                    </a>
                    <a href="#" onclick="resetPwd()" class="dropdown-item">
                        <i class="fa fa-key"></i> 修改密码
                    </a>
                    <div class="dropdown-divider"></div>
                    <a th:href="@{logout}" class="dropdown-item">
                        <i class="fa fa-sign-out"></i> 退出登录
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-blue elevation-4">
        <!-- Brand Logo -->
        <a th:href="@{/index}" class="brand-link  navbar-lightblue">
            <img th:src="@{/logo.png}" alt="logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-bold" th:text="${name}">运营管理后台</span>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img th:src="(${user.avatar} == '') ? @{/img/profile.jpg} : @{${user.avatar}}" class="img-circle elevation-2" alt="Image">
                </div>
                <div class="info">
                    <a th:href="@{/system/user/profile}"  class="d-block menuItem">[[${#strings.defaultString(user.userName, '-')}]]</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a class="menuItem nav-link" th:href="@{/system/main}"><i class="nav-icon fas fa-tachometer-alt"></i> <p class="nav-label">工作台</p></a>
                    </li>
                   <!-- <li class="nav-header">系统管理</li>-->
                    <li class="nav-item" th:each="menu : ${menus}">
                        <a class="nav-link"  th:class="'nav-link '+@{${menu.url != '' && menu.url != '#'} ? 'menuItem'}" th:href="@{${menu.url == ''} ? |#| : ${menu.url}}">
                            <i th:class="@{${menu.icon == '' || menu.icon == '#'} ? |far fa-circle| : ${menu.icon}}+' nav-icon'"></i>
                            <!--一级菜单-->
                            <p>[[${menu.menuName}]]
                                <i th:class="${menu.url == '' || menu.url == '#'} ? |right fas fa-angle-left|"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item" th:each="cmenu : ${menu.children}">
                                <a th:if="${#lists.isEmpty(cmenu.children)}" class="nav-link menuItem" th:href="@{${cmenu.url}}">
                                    <i th:class="@{${cmenu.icon == '' || cmenu.icon == '#'} ? |far fa-circle| : ${cmenu.icon}}+' nav-icon'"></i>
                                    <p th:text="${cmenu.menuName}">二级菜单</p>
                                </a>
                                <a th:if="${not #lists.isEmpty(cmenu.children)}" class="nav-link" href="#">
                                    <i th:class="@{${cmenu.icon == ''|| cmenu.icon == '#'} ? |far fa-circle| : ${cmenu.icon}}+' nav-icon'"></i>
                                    <!--二级菜单-->
                                    <p>[[${cmenu.menuName}]]
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview" th:if="${not #lists.isEmpty(cmenu.children)}">
                                    <li class="nav-item" th:each="emenu : ${cmenu.children}">
                                        <a class="nav-link menuItem" th:href="@{${emenu.url}}">
                                            <i th:class="@{${emenu.icon == ''|| cmenu.icon == '#'} ? |far fa-circle| : ${emenu.icon}}+' nav-icon'"></i>
                                            <p th:text="${emenu.menuName}">三级菜单</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row content-tabs">
                <button class="roll-nav roll-left tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs menuTabs">
                    <div class="page-tabs-content">
                        <!--<a href="javascript:;" class="active menuTab" data-id="/umap/system/main">工作台</a>-->
                        <a href="javascript:;" class="active menuTab" data-id="/umap/system/main">工作台</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <a href="javascript:void(0);" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> 刷新</a>
            </div>

            <a id="ax_close_max" class="ax_close_max" href="#" title="关闭全屏"> <i class="fa fa-times-circle-o"></i> </a>
            <div class="mainContent" id="content-main">
                <iframe class="SystemPlus_iframe" name="iframe0" width="100%" height="100%" data-id="/umap/system/main" th:src="@{/main}" frameborder="0" seamless></iframe>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer text-sm">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.4
        </div>
        <strong th:if="${not #strings.isEmpty(@config.getKey('site.copyright'))}" th:text="${@config.getKey('site.copyright')}">Copyright &copy; [[${copyrightYear}]] 智慧龙检<!--<a href="http://www.szmkst.com" target="_blank">智慧龙检</a>-->.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark" style="overflow-y: scroll;">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- 全局js -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/jquery.contextMenu.min.js}"></script>
<script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/systemplus/js/ry-ui.js?v=3.1.0}"></script>
<script th:src="@{/systemplus/js/common.js?v=3.1.0}"></script>
<script th:src="@{/systemplus/index.js}"></script>
<script th:src="@{/ajax/libs/fullscreen/jquery.fullscreen.js}"></script>
<script th:src="@{/ajax/libs/AdminLTE3/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/ajax/libs/AdminLTE3/dist/js/adminlte.min.js}"></script>
<script th:src="@{/ajax/libs/AdminLTE3/dist/js/demo.js}"></script>
<script th:inline="javascript">
    var ctx = [[@{/}]];
    // 皮肤缓存
    var skin = storage.get("skin");
    // history（表示去掉地址的#）否则地址以"#"形式展示
    var mode = "history";
    // 历史访问路径缓存
    var historyPath = storage.get("historyPath");

    // 本地主题优先，未设置取系统配置
    if($.common.isNotEmpty(skin)){
        $("body").addClass(skin.split('|')[0]);
        $("body").addClass(skin.split('|')[1]);
    } else {
        $("body").addClass([[${sideTheme}]]);
        $("body").addClass([[${skinName}]]);
    }

    /* 用户管理-重置密码 */
    function resetPwd() {
        var url = ctx + 'system/user/profile/resetPwd';
        $.modal.open("重置密码", url, '770', '380');
    }
    /* 切换主题 */
    function switchSkin() {
        layer.open({
            type : 2,
            shadeClose : true,
            title : "切换主题",
            area : ["530px", "386px"],
            content : [ctx + "system/switchSkin", 'no']
        })
    }
    /* 获取推送消息 */
    function getMsgPush() {
        var url = ctx + "/basic/msg/unreadMsg";
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            success: function(result) {
                if (result.code == 0) {
                    $("#msgCount").text(result.total);
                    $("#totalCount").text(result.total);
                }
            }
        };
        $.ajax(config)
    }
    getMsgPush();

    /** 刷新时访问路径页签 */
    function applyPath(url) {
        $('a[href$="' + decodeURI(url) + '"]').click();
        $('a[href$="' + url + '"]').parent("li").addClass("selected").parents("li :not(.user-panel)").addClass("active").end().parents("ul").addClass("in");
    }

    /* 修改默认密码提示 */
    function modifyPasswordTip() {
        var updatePassMsg = [[${updatePassMsg}]];
        if(updatePassMsg){
            layer.confirm(updatePassMsg,{icon: 3, title:'提示'}, function(){
                resetPwd();
            });
        }
    }

    $(function() {
        modifyPasswordTip();
        if($.common.equals("history", mode) && window.performance.navigation.type == 1) {
            var url = storage.get('publicPath');
            if ($.common.isNotEmpty(url)) {
                applyPath(url);
            }
        } else {
            var hash = location.hash;
            if ($.common.isNotEmpty(hash)) {
                var url = hash.substring(1, hash.length);
                applyPath(url);
            }
        }
    })
</script>
</body>
</html>
